<% if (collaborators) { %> 
  <div class="card mb-5">
    <h4 class="card-header">Current Collaborators</h4>
    <div class="card-body">
      <ul class="list-group">
      <% collaborators.forEach((collaborator) => {  %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%=  collaborator.User.username %>
          <% if ( currentUser && currentUser.role === 1 && wiki.userId === currentUser.id ) { %>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/collaborator/<%= collaborator.id %>/destroy" method="post">
              <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
            </form>
          <% } %>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>     