<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/messages.ejs %>
        
        <main class="container">
      
      <h1 class="display-3"><%= `${user.username}'s profile` %></h1>
      
      <div class="row">

            <div class="col col-lg-7">

                <h4> Latest Public Wikis </h4>

                List of user's public wikis

                <!-- <ul class="list-unstyled">
                    
                    <% // if(wikis) { %>
                    <% // wikis.forEach((wiki) => { %>
                        <li>
                        <a href="/wikis/<%= // wiki.id %>">
                            <%= // wiki.title %>
                        </a>
                        </li>
                    <% // }) %>
                    <% // } %>
                </ul> -->

                <hr>

                <h4> Latest Private Wikis </h4>

                List of user's private wikis
        
              </div>
        
              <div class="col col-lg-4">
                  <div class="card">
                    <img src="https://www.fillmurray.com/640/360" class="card-img-top" alt="placeholder">
                    <div class="p-3">
                            <h4 class="card-title"> <%= `${user.username}'s Membership` %> </h4>
                            <p class="card-text" >Current membership enrollment:<br/>
                                <% if(user.role === 0) { %>
                                    <b>Free Plan</b> 
                                <% } else { %> 
                                    <b>Premium Plan</b> 
                                <% } %>
                            </p>
                            
                            <hr>
                                
                            <% if(user.role === 0) { %>
                            <div class="form-group">
                                <h5 class="card-text">Upgrade Membership Plan</h5>
                                <p>Upgrade your account to access premium benefits such as private wikis</p>
                                <input type="submit" value="Upgrade" class="btn btn-primary"/>
                            <% } else if(user.role === 1) { %>
                                <h5>Downgrade Membership Plan</h5>
                                <input type="submit" value="Downgrade" class="btn btn-primary"/>
                            </div>
                            <% } %>
                    </div>
                  </div>
              </div>


      </div>

      

      

      <hr>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>